<div class="adversite SW chat-card" data-actor-id="{{actorID}}">
    <span data-adversite-id="{{adversite.uuid}}">{{adversite.name}}</span>
    <span>{{actor.name}} a ajouté <b class="score">{{score}}</b> au score.</span>
</div>
