<div class="puiser SW chat-card" data-actor-id="{{actorID}}">
    <span>{{Token.name}} {{localize "chat.puiser.aPuisé"}} {{localize (concat "SW.Labels." flavor)}}.</span>
    <span>{{localize "chat.puiser.score"}} <b class="score">{{score}}</b>.</span> 
    <button class="ajout-adversite">Ajouter à une adversité</button>
    <input type="hidden" class="pertes" value="{{perte}}"> 
</div>
