<div class="dice-roll SW regen chat-card" data-actor-id="{{actorID}}">
  <h2 class="title">
    <div class="check-type">{{localize "chat.regenHP.title"}}</div>
  </h2>
  <div class="dice">
    {{log this}}
        {{#each regen as |die i|}}
            <div class="die {{i}}">
                <img src="systems/shaanworld/assets/dice/{{capitalize i}}/d10_{{#if (eq i "esprit")}}jaune{{/if}}{{#if (eq i "ame")}}bleu{{/if}}{{#if (eq i "corps")}}rouge{{/if}}_{{die}}.png">
            </div>
        {{/each}}
  </div>
  <div class="details">
    <div class="esprit"><h3>Esprit</h3><span
      >{{trihns.esprit.value}}/{{trihns.esprit.max}}</span></div>
    <div class="ame"><h3>Ame</h3><span
      >{{trihns.ame.value}}/{{trihns.ame.max}}</span></div>
    <div class="corps"><h3>Corps</h3><span
      >{{trihns.corps.value}}/{{trihns.corps.max}}</span></div>

  </div>
</div>