<div class="dice-roll SW regen chat-card" data-actor-id="{{actorID}}">
  <h2 class="title">
    <div class="check-type">{{localize "chat.regenHP.title"}}</div>
  </h2>
  <div class="details">
    <div class="esprit"><h3>Esprit</h3><span
      >{{trihns.esprit.value}}/{{trihns.esprit.max}}</span></div>
    <div class="ame"><h3>Ame</h3><span
      >{{trihns.ame.value}}/{{trihns.ame.max}}</span></div>
    <div class="corps"><h3>Corps</h3><span
      >{{trihns.corps.value}}/{{trihns.corps.max}}</span></div>

  </div>
</div>