<div class="tab abilities" data-group="primary" data-tab="abilities">
  <div style="width: 50%;">
    <label class="character-abilities-label label-polygon">{{localize "SW.Labels.Abilities"}}</label>
    <div class="whitebox pouvoirs">
      {{#each data.abilities as |ability key|}}
        <div class="pouvoir-item">
          <div class="ability-checkbox-container">
            {{#each ability.rang as |rang i|}}
              {{#ifeq i 3}}
                <br />
              {{/ifeq}}
              <input
                class="isLearned"
                type="checkbox"
                title="{{localize SW.Abilities.Learned}}"
                name="{{concat 'system.abilities.' key '.rang.' i '.isLearned'}}"
                {{checked rang.isLearned}}
              />
            {{/each}}
          </div>
          <label class="pouvoir-label"><b>{{localize (concat "SW.abilities." key ".label")}}</b>
            :
            {{localize (concat "SW.abilities." key ".resume")}}<br /><span class="ability-description">{{localize (concat "SW.abilities." key ".description")}}</span>
          </label>

          <div class="ability-checkbox-container">
            {{#each ability.rang as |rang i|}}
              <input
                class="isUsed"
                type="checkbox"
                title="{{localize SW.Abilities.Used}}"
                name="{{concat 'system.abilities.' key '.rang.' i '.isUsed'}}"
                {{checked rang.isUsed}}
              />
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div style="margin-top: 55px; width: 49%; margin-left: 5px;">
    <label class="character-abilities-label label-polygon" style="width: 142px;">{{localize "SW.Labels.Mythiques"}}</label>
    <div class="whitebox mythiques">
      <textarea style="height: 462px; margin-top: 10px;" name="system.mythiques">{{data.mythiques}}</textarea>
    </div>
  </div>
  <div style="width:100%">
    <label class="character-artefacts-label label-polygon">{{localize "SW.Labels.Artefacts"}}</label>
    <div class="whitebox artefacts">
      <div class="artefacts-container">
        {{editor enrichedArtefactsNotes target="system.artefacts" button=true owner=owner editable=editable engine="prosemirror"}}
      </div>
    </div>
  </div>
</div>