<div class="tab abilities" data-group="primary" data-tab="abilities">
  <div style="width: 50%;">
    <label class="character-abilities-label label-polygon">{{localize
        "SW.Labels.Abilities"
      }}</label>
    <div class="whitebox pouvoirs">
      {{#each data.abilities as |rang key|}}
        <div class="pouvoir-rank">
          <label class="pouvoir-rank-label green-label">{{localize
              (concat "SW.Labels." key)
            }}</label>
          {{#each rang as |ability i|}}
            <div class="pouvoir-item">
              <input
                class="isUsed"
                type="checkbox"
                title="SW.Abilities.Used"
                name="{{concat 'system.abilities.' key '.' i '.isUsed'}}"
                {{checked ability.isUsed}}
              />
              <label class="pouvoir-label">{{localize
                  (concat "SW.Abilities." i)
                }}</label>
              <input
                class="isLearned"
                type="checkbox"
                title="SW.Abilities.Learned"
                name="{{concat 'system.abilities.' key '.' i '.isLearned'}}"
                {{checked ability.isLearned}}
              />
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
  <div style="margin-top: 30px; width: 50%; margin-left: 5px;">
    <label class="character-abilities-label label-polygon" style="width: 142px;">{{localize "SW.Labels.Mythiques"}}</label>
    <div class="whitebox mythiques">
      <textarea style="height: 575px; margin-top: 10px;" name="system.mythiques">{{data.mythiques}}</textarea>
    </div>
  </div>
</div>