<div class="tab allies {{tab.cssClass}}" data-group="primary" data-tab="allies">
  <div id="allies-cards-container">
    {{#each document.allies as |ally|}}
      <div class="ally-card whitebox">
        <a class="roll-ally" data-id="{{ally.id}}">{{> "systems/shaanworld/templates/actors/icons/d10Blue.hbs"}}{{> "systems/shaanworld/templates/actors/icons/d10Black.hbs"}}</a>
        <div class="ally-frame-container">
          <div class="frame image-container">
            <img class="player-image" alt="{{ally.name}}" src="{{ally.img}}" title="{{ally.name}}" />
          </div>
        </div>
        <div class="ally-resume">
          <span class="ally-name">{{ally.name}}</span><br />
          <span class="ally-domains">
            <span data-trihn="{{getTrihn ally.system.domaines.domaine1}}">{{getName "domains" ally.system.domaines.domaine1}}</span>
            {{#if (ne ally.system.domaines.domaine2 "0")}}•{{/if}}
            <span data-trihn="{{getTrihn ally.system.domaines.domaine2}}">{{getName "domains" ally.system.domaines.domaine2}}</span>
            {{#if (ne ally.system.domaines.domaine3 "0")}}•{{/if}}
            <span data-trihn="{{getTrihn ally.system.domaines.domaine3}}">{{getName "domains" ally.system.domaines.domaine3}}</span>
          </span><br />
          <span class="ally-influence">Influence : {{getName "influences" ally.system.influence}}</span><br />
          <span class="ally-relation">Relation : {{getName "relations" ally.system.relation}}</span><br />
          <span class="ally-loyalty">Loyauté : {{getName "loyalties" ally.system.loyalty}}</span><br />
        </div>
      </div>
    {{/each}}
  </div>
</div>