<div class="tab character" data-group="primary" data-tab="character">
  <label class="character-name-label label-polygon" for="character-name">{{localize
      "SW.Labels.Name"
    }}</label>
  <div class="whitebox box-character-name">
    <input id="character-name" type="text" name="name" value="{{actor.name}}" />
  </div>
  <section class="whitebox circle-box" style="height:573px">
    <section class="circle">
      {{! DOMAINES }}
      {{! Esprit }}
      <input
        style="top: 390px; left: 237px;"
        data-domain="technique"
        data-trihn="esprit"
        type="number"
        class="domain-input"
        name="system.domains.technique.rank"
        value="{{data.domains.technique.rank}}"
      />
      <input
        style="top: 316px;left: 161px;"
        data-domain="savoir"
        data-trihn="esprit"
        type="number"
        class="domain-input"
        name="system.domains.savoir.rank"
        value="{{data.domains.savoir.rank}}"
      />
      <input
        style="top: 224px;left: 129px;"
        data-domain="social"
        data-trihn="esprit"
        type="number"
        class="domain-input"
        name="system.domains.social.rank"
        value="{{data.domains.social.rank}}"
      />
      {{! Ame }}
      <input
        style="top: 139px;left: 165px;"
        data-domain="arts"
        data-trihn="ame"
        type="number"
        class="domain-input"
        name="system.domains.arts.rank"
        value="{{data.domains.arts.rank}}"
      />
      <input
        style="top: 113px;left: 217px;"
        data-domain="shaan"
        data-trihn="ame"
        type="number"
        class="domain-input"
        name="system.domains.shaan.rank"
        value="{{data.domains.shaan.rank}}"
      />
      <input
        style="top: 139px;left: 266px;"
        data-domain="magie"
        data-trihn="ame"
        type="number"
        class="domain-input"
        name="system.domains.magie.rank"
        value="{{data.domains.magie.rank}}"
      />
      {{! Corps }}
      <input
        style="top: 225px;left: 304px;"
        data-domain="rituels"
        data-trihn="corps"
        type="number"
        class="domain-input"
        name="system.domains.rituels.rank"
        value="{{data.domains.rituels.rank}}"
      />
      <input
        style="top: 317px;left: 272px;"
        data-domain="survie"
        data-trihn="corps"
        type="number"
        class="domain-input"
        name="system.domains.survie.rank"
        value="{{data.domains.survie.rank}}"
      />
      <input
        style="top: 389px;left: 191px;"
        data-domain="combat"
        data-trihn="corps"
        type="number"
        class="domain-input"
        name="system.domains.combat.rank"
        value="{{data.domains.combat.rank}}"
      />
      {{! Necrose }}
      <input
        style="top: 430px;left: 50px;"
        data-domain="necrose"
        data-trihn="necrose"
        type="number"
        class="domain-input"
        name="system.domains.necrose.rank"
        value="{{data.domains.necrose.rank}}"
      />

      {{! TRIHNS }}
      {{! Esprit }}
      <input
        style="top: 300px;left: -55px;"
        data-trihn="esprit"
        type="number"
        class="trihn-input max"
        name="system.trihns.esprit.max"
        value="{{data.trihns.esprit.max}}"
      />
      <input
        style="top: 277px;left: -64px;font-size: 27px; width:35px;"
        data-trihn="esprit"
        type="number"
        class="trihn-input value"
        name="system.trihns.esprit.value"
        value="{{data.trihns.esprit.value}}"
      />
      {{! Ame }}
      <input
        style="top: 244px;left: -76px;"
        data-trihn="ame"
        type="number"
        class="trihn-input max"
        name="system.trihns.ame.max"
        value="{{data.trihns.ame.max}}"
      />
      <input
        style="top: 217px;left: -91px;font-size: 27px; width:35px;"
        data-trihn="ame"
        type="number"
        class="trihn-input value"
        name="system.trihns.ame.value"
        value="{{data.trihns.ame.value}}"
      />
      {{! Corps }}
      <input
        style="top: 328px;left: -119px;"
        data-trihn="corps"
        type="number"
        class="trihn-input max"
        name="system.trihns.corps.max"
        value="{{data.trihns.corps.max}}"
      />
      <input
        style="top: 296px;left: -129px;font-size: 27px; width:35px;"
        data-trihn="corps"
        type="number"
        class="trihn-input value"
        name="system.trihns.corps.value"
        value="{{data.trihns.corps.value}}"
      />
      <section class="vocations">
        <div
          style="top: 343px;left: 83px;"
          data-vocation-domain="technique"
          class="vocation-box whitebox">
          <label class="character-vocation-label">{{localize "SW.Labels.Vocation"}}</label>
          <div class="vocation">
            {{#each vocations.technique as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
          </div>          
          </div>
        <div style="top: 150px;left: 38px;" data-vocation-domain="savoir" class="vocation-box whitebox" >
          <label class="character-vocation-label">{{localize "SW.Labels.Vocation"}}</label>
            <div class="vocation">
            {{#each vocations.savoir as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
          </div>           
          </div>
        <div
          style="top: -43px;left: 39px;"
          data-vocation-domain="social"
          class="vocation-box whitebox" 
        ><label class="character-vocation-label">{{localize
              "SW.Labels.Vocation"
            }}</label>
            <div class="vocation">
            {{#each vocations.social as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
          </div>             
        </div>
        <div
          style="top: -268px;left: 156px;"
          data-vocation-domain="arts"
          class="vocation-box whitebox"
        ><label class="character-vocation-label">{{localize
              "SW.Labels.Vocation"
            }}</label>
            <div class="vocation">
            {{#each vocations.arts as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
          </div>             
        </div>
        <div
          style="top: -384px; left: 296px;"
          data-vocation-domain="shaan"
          class="vocation-box whitebox" 
        ><label class="character-vocation-label">{{localize
              "SW.Labels.Vocation"
            }}</label>
            <div class="vocation">
            {{#each vocations.shaan as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
          </div>           
          </div>
        <div
          style="top: -452px;left: 436px;"
          data-vocation-domain="magie"
          class="vocation-box whitebox" 
        ><label class="character-vocation-label">{{localize
              "SW.Labels.Vocation"
            }}</label>
            <div class="vocation">
            {{#each vocations.magie as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
            </div>             
          </div>
        <div
          style="top: -415px;left: 536px;"
          data-vocation-domain="rituels"
          class="vocation-box whitebox" 
        ><label class="character-vocation-label">{{localize
              "SW.Labels.Vocation"
            }}</label>
            <div class="vocation">
            {{#each vocations.rituels as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
          </div> 
          </div>
        <div style="top: -406px;left: 538px;" data-vocation-domain="survie" class="vocation-box whitebox" 
        ><label class="character-vocation-label">{{localize
              "SW.Labels.Vocation"
            }}</label>
            <div class="vocation">
            {{#each vocations.survie as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
          </div> 
        </div>
        <div
          style="top: -396px;left: 494px;"
          data-vocation-domain="combat"
          class="vocation-box whitebox" 
        ><label class="character-vocation-label">{{localize
              "SW.Labels.Vocation"
            }}</label>
            <div class="vocation">
            {{#each vocations.combat as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
          </div> 
            </div>
        <div style="top: -389px;left: 373px;" data-vocation-domain="necrose" class="vocation-box whitebox" >
          <label class="character-vocation-label">{{localize "SW.Labels.Vocation"}}</label>
            <div class="vocation">
            {{#each vocations.necrose as |vocation|}}
            <div class="item" data-item-id="{{vocation._id}}">
              <span value="{{vocation._id}}"><span class="vocation-name">{{vocation.name}}</span> +{{vocation.system.bonus}}</span>
              <div class="item-controls">
                  <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
              </div>
            </div>
            {{/each}}
          </div>             
          </div>
      </section>
      <div class="frame-container">
        <div class="frame image-container">
            <img class="player-image" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" {{#if editable}}data-edit="img"{{/if}} />
            <a class="hover-icon" data-action="show-image"><i class="fa-solid fa-image fa-fw"></i></a>
        </div>
      </div>
    </section>
  </section>
  <div class="whitebox character-details">
          {{!-- Lignée --}}
          <div class="pc pc_lignee item" data-item-id="{{lignee._id}}">
            <div class="input">
                <label class="details-label green-label" style="font-weight:700;">{{localize "Item.lignee"}}</label>
                <h3>
                    <span class="value">{{lignee.name}}</span>
                    {{#if @root.editable}}
                    {{#if lignee}}
                      <div class="item-controls">
                        <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-delete"><i class="fas fa-fw fa-trash"></i></a>
                      </div>
                    {{else}}
                        <a class="open-compendium" data-compendium="shaanworld.lignee"><i class="fas fa-fw fa-circle-plus"></i></a>
                    {{/if}}
                    {{/if}}                        
                </h3>
            </div>            
        </div>
        {{!-- Peuple --}}
          <div class="pc pc_people item" data-item-id="{{people._id}}">
            <div class="input">
                <label class="details-label green-label" style="font-weight:700;">{{localize "Item.people"}}</label>
                <h3>
                    <span class="value">{{people.name}}</span>
                    {{#if @root.editable}}
                    {{#if people}}
                      <div class="item-controls">
                        <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-delete"><i class="fas fa-fw fa-trash"></i></a>
                      </div>
                    {{else}}
                        <a class="open-compendium" data-compendium="shaanworld.people"><i class="fas fa-fw fa-circle-plus"></i></a>
                    {{/if}}
                    {{/if}}                        
                </h3>
            </div>            
        </div>
          {{!-- Archétype --}}
          <div class="pc pc_archetype item">
            <div class="input">
                <label class="details-label green-label" style="font-weight:700;">{{localize "Item.archetype"}}</label>
                <select name="system.archetype" value="{{data.archetype}}">
                  {{selectOptions config.archetypes selected=data.archetype}}
                </select>
            </div>            
        </div>
        {{!-- Role --}}
          <div class="pc pc_role item" data-item-id="{{role._id}}">
            <div class="input">
                <label class="details-label green-label" style="font-weight:700;">{{localize "Item.role"}}</label>
                <h3>
                    <span class="value">{{role.name}}</span>
                    {{#if @root.editable}}
                    {{#if role}}
                      <div class="item-controls">
                        <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-delete"><i class="fas fa-fw fa-trash"></i></a>
                      </div>
                    {{else}}
                        <a class="open-compendium" data-compendium="shaanworld.role"><i class="fas fa-fw fa-circle-plus"></i></a>
                    {{/if}}
                    {{/if}}                        
                </h3>
            </div>            
        </div>
        <div class="pc pc_temper">
          <div class="input">
          <label for="" class="green-label">{{localize "SW.Labels.Temper"}}</label>
          <input type="text" name="system.temper1" value="{{data.temper1}}">
          <input type="text" name="system.temper2" value="{{data.temper2}}">
          </div>
        </div>
  </div>
  <div class="character-experience">
    <label for="current-exp" style="margin-bottom:10px">{{localize "SW.Labels.exp"}}</label>
    <div class="exp-box">
          <div class="whitebox" style="height: 35px;">
      <input name="system.currentXP" value="{{data.currentXP}}" id="current-exp" type="number" class="current-exp">
    </div>
    <input name="system.maxXP" value="{{data.maxXP}}" type="number" class="max-exp">
  </div>
  <div class="protections">
    <span>{{localize "SW.Labels.protections"}}</span>
    <div class="character-protections whitebox">
      <div class="protection-trihn">
        <label>{{localize "SW.Labels.esprit"}}</label>
        <div>
          {{#each data.protections.esprit as |protection key|}}
          <input type="checkbox" name="{{concat "system.protections.esprit." key}}" {{checked protection}}/>
          {{/each}}
        </div>
      </div>
      <div class="protection-trihn">
        <label>{{localize "SW.Labels.ame"}}</label>
        <div>
          {{#each data.protections.ame as |protection key|}}
          <input type="checkbox" name="{{concat "system.protections.ame." key}}" {{checked protection}}/>
          {{/each}}
        </div>
      </div>
      <div class="protection-trihn">
        <label>{{localize "SW.Labels.corps"}}</label>
        <div>
          {{#each data.protections.corps as |protection key|}}
          <input type="checkbox" name="{{concat "system.protections.corps." key}}" {{checked protection}}/>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="richesses-container">
    <label for="richesses">Richesses</label>
    <input type="number" id="richesses" name="system.richesses" value="{{data.richesses}}">
  </div>
  <a class="domainCheck">
      <div class="dice">
      {{> "systems/shaanworld/templates/actors/icons/d10Yellow.hbs"}}
      {{> "systems/shaanworld/templates/actors/icons/d10Blue.hbs"}}
      {{> "systems/shaanworld/templates/actors/icons/d10Red.hbs"}}
      {{> "systems/shaanworld/templates/actors/icons/d10Black.hbs"}}
      </div>
      <span>{{localize "chat.domainCheck.title"}}</span>
    </a>
  </div>
</div>